@import "./variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html,
body,
#root {
  height: 100%;
  font-family: "Open Sans", sans-serif !important;
}

.heading {
  font-size: 2rem;
  font-weight: 1000;
  line-height: 1.3;
}

.sub-heading {
  font-size: 1.3rem;
  font-weight: 700;
}

.content {
  font-size: 1rem;
}

.hint {
  color: $base-hint;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  margin-top: 7px;
}

// Font Colors
.alt-white {
  color: white;
}
.alt-primary {
  color: $primary;
}
.alt-secondary {
  color: $secondary;
}
.alt-success {
  color: $base-success;
}
.alt-base-label {
  color: $base-label;
}

// BG
.bg-white {
  background-color: white;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-success {
  background-color: $base-success;
}
.bg-base-label {
  background-color: $base-label;
}
