$base-primary: #0d21a1;
$base-success: #0ca75f;
$base-danger: #f23e3e;
$base-primary-dark: #011638;
$base-dark: #141414;
$base-secondary: #eec643;
$base-background: #eef0f2;

$base-label: #011542;
$base-grey: #eef0f4;

$base-border: #7b88a5;
$base-hint: #a6afc5;

$primary: $base-primary;
$secondary: $base-secondary;

$base-radius: 4px;
